body {
    background-color: #006400;
    color: #fffacd;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap
}
button {
    padding: 7px 22px;
    background-color: #7fffd4;
    border-style: none;
}
input {
    height: 20px;
}
img {
    width: 200px;
}


